---
const platform = "github";
const username = "withastro";
---
<div class="flex justify-center md:pt-4 md:mt-6 bg-gradient-to-r from-cyan-500 to-blue-500">
<footer >
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
</footer>
</div>