---

---


		<!--Navbar -->
		<nav class="relative  mx-auto p-6 bg-gradient-to-r from-cyan-500 to-blue-500">
			<!--Flex Container -->
		   <div class="flex items-center justify-between">

			<!--Logo -->
			<div class="pt-2 ">
				<img class="size-16" src="/CN.png " alt="A bird.">	
                
			</div>
			<!--Menu Items -->
			<div class="hidden md:flex space-x-6 ">
				<a href="#" class="hover:text-red-600">About</a>
				<a href="#" class="hover:text-red-600">Services</a>
				<a href="#" class="hover:text-red-600">Portfolio</a>
			</div>
            <!--Button -->
            <a href="#" 
            class="hidden md:block p-3 px-6 pt-2 text-white bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 hover:from-pink-500 hover:to-yellow-500 rounded-full baseline ">Get Started</a>

		   </div>
		  </nav> 